.git
.gitignore
.github/

.env
.env.*

vendor/

writable/cache/*
writable/logs/*
writable/session/*
writable/debugbar/*

.vscode/
.idea/

firebase-service-account.json
firebase-adminsdk-*.json
*-firebase-adminsdk-*.json